body {
<<<<<<< HEAD
    background-color: rgb(167, 162, 162);
    padding-left: 10px;
=======
    background-color: rgba(81, 255, 0, 0.411);
    margin-left: 20px;
    padding-top: 70px;
}

.nav {
    
>>>>>>> fbac5f6fe74a482c4efb59beb1b058409b253102
}