<% if flash.has?(:message) %>
    <%= flash[:message] %>
<% end %>

<h2>Login</h2>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" value="Login">
</form> <br/>

<p><a href="/signup">Create an Account</a></p>

