<h2>Add a New Maintenance Item</h2>

<form action="/maintenance_items" method="POST">
    

    <label>Name:</label>
    <input type="text" name="maintenance_name" id="maintenance_name"> <br/>

    <input type="submit" value="Add Maintenance Item">

</form>
