<h2>Edit Maintenance Item</h2>

<form action="/maintenance_items/<%=@maintenance_item.id%>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <label>Car: </label>
    <select name="car_id" >
        <% @cars.all.each do |car| %>
       <option value="<%=car.id%>"><%=car.name%></option>
        <% end %>
    </select> 
    <br/>
    
    <label>Name:</label>
    <input type="text" name="maintenance_name" value="<%=@maintenance_item.name%>"> <br/>

    <input type="submit" value="Edit Maintenance Item">

</form>
