<h2>Edit Maintenance Item</h2>
<br/>
<form action="/maintenance_items/<%=@maintenance_item.id%>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    
    <label>Name:</label>
    <input type="text" name="maintenance_name" value="<%=@maintenance_item.name%>"> <br/>
    <br/>
    <input type="submit" value="Edit Maintenance Item">

</form>
