<h2>Maintenance Categories</h2>

<% @user_maintenance_items.each do |maintenance_item| %>
    <div>
       <a href="/maintenance_items/<%=maintenance_item.id%>"> <%= maintenance_item.name %> </a>
    </div>
<% end %>

