<h2>Maintenance Items</h2>

<% @maintenance_items.each do |maintenance_item| %>
    <div>
       <a href="/maintenance_items/<%=maintenance_item.id%>"> <%= maintenance_item.name %> </a>
    </div>
<% end %>

<p><a href="/cars">View Cars</a></p>

<p><a href="/logout">Log Out</a></p>
