<h2>Maintenance Items</h2>

<% @maintenance_item.each do |maintenance_item| %>
  <div>
    <%= maintenance_item.name %>
  </div>

<% end %>

<p><a href="/maintenance_items/<%= @maintenance_item.id %>/edit">Edit This Maintenance</a></p>

<p><a href="/logout">Log Out</a></p>
