<h2>Schedule Maintenance</h2>

<form action="/car_maintenance_items" method="POST">
    
    <label>Choose Car: </label>
    <select name="car_id" >
        <% @cars.all.each do |car| %>
        <option value="<%=car.id%>"><%=car.name%></option>
        <% end %>
    </select> 
    <br/>

    <label>Choose the Maintenance:</label>
      <select name="maintenance_id" >
        <% @maint_items.each do |maintenance_item| %>
        <option value="<%=maintenance_item.id%>"><%=maintenance_item.name%></option>
        <% end %>
    </select> 
    <br/>

    <label>Mileage Performed:</label>
    <input type="text" name="mileage_performed" id="mileage_performed"> <br/>

    <label>Mileage Due:</label>
    <input type="text" name="mileage_due" id="mileage_due"> <br/>

    <label>Cost: $</label>
    <input type="text" name="cost" id="cost"> <br/>

    <input type="submit" value="Add Maintenance Item">

</form>
